<!DOCTYPE html>
<html>

<head>
  <title>D3 - C4.5 (For Test)</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./../styles/bootstrap.min.css">
  <link rel="stylesheet" href="./../styles/style.css">
  <link rel="stylesheet" href="./../styles/dataTables.bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>

<body id="background">
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between sticky-top">
    <a class="navbar-brand text-dark ml-2"><b>Decision Tree C4.5</b> - For Test</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav d-none" id="navbar">
        <li class="nav-item active" id="nav-arbol">
          <a class="nav-link" href="#">Performance Evaluation</a>
        </li>
      </ul>
    </div>
    <input type="button" class="btn btn-primary btn-large mr-2 d-none" value="Reiniciar" id="reset" onclick="reset()" />
  </nav>
  <!-- !NavBar -->

  <div class="p-4">

    <!-- Carga CSV Entrenamiento -->
    <div id="csv-entrenamiento" class="card mt-4">
      <div class="card-header">
        <h1 class="form-group col-md-12 mt-3"><b>Cargar Dataset</b></h1>
      </div>
      <div class="card-body">

        <div class="alert alert-info m-4" role="alert">
          <li>El dataset deberá estar en formato CSV.</li>
          <li>La primer fila debe corresponder a los nombres de los atributos.</li>
          <li>La última columna deberá corresponder a la Clase del registro.</li>
        </div>

        <div class="form-row m-4">
          <div class="form-group col-md-6">
            <label for="calculateUsing">Generar Modelo Utilizando</label>
            <select class="form-control input-small" id="calculateUsing">
              <option value="gain">Ganancia de Información</option>
              <option value="gainRatio" selected>Tasa de Ganancia de Información</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="threshold">Umbral de Ganancia (Threshold)</label>
            <input id="threshold" type="number" min="0" max="1" step="0.00001" value="0"
              class="form-control input-small">
          </div>
        </div>
        <div class="form-row m-4">
          <div class="form-group col-md-3">
            <label for="porcForTrain">Porcentaje a Utilizar Para Entrenamiento</label>
            <input id="porcForTrain" type="number" min="0" max="100" step="0.001" value="90"
              class="form-control input-small">
          </div>
          <div class="form-group col-md-3">
            <label for="porcForTest">Porcentaje a Utilizar Para Test</label>
            <input id="porcForTest" type="number" min="0" max="100" step="0.001" value="10"
              class="form-control input-small">
          </div>
          <div class="form-group col-md-6">
            <label for="cantPruebas">Cantidad de Pruebas a Realizar</label>
            <input id="cantPruebas" type="number" min="0" step="1" value="1000" class="form-control input-small">
          </div>
        </div>

        <div id="selection-form" class="form-row m-4">
          <div class="form-group col-md-6">
            <input type="text" placeholder="Por favor, seleccione un archivo" class="form-control input-small"
              id="actual-file" disabled="disabled" />
          </div>
          <div class="form-group col-md-6">
            <input type="button" class="btn btn-primary btn-large" value="Seleccionar Archivo" id="select-file" />
          </div>
        </div>
      </div>
    </div>
    <!-- !Carga CSV Entrenamiento -->

    <!-- Performance Evaluation -->
    <div id="evaluation" class="card mt-4 d-none">
      <div class="card-header">
        <div id="tableButtons" class="form-row">
          <h1 class="form-group col-md-10 mt-3"><b>Performance Evaluation</b></h1>
          <div id="titulo" data-value="Performance Evaluation"></div>
        </div>
      </div>
      <div id="card-body" class="card-body">
        <h1 id='results' class="col-md-12 mt-4 mb-4"></h1>
        <table id="tabla" class="table">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Cant. Elementos</th>
              <th>Fórmula</th>
              <th>Threshold</th>
              <th>Cant. Elem. Entrenamiento</th>
              <th>Cant. Elem. Prueba</th>
              <th>Exactitud</th>
              <th>Tiempo Ejecución (ms)</th>
              <th>Uso de Memoria (KB)</th>
            </tr>
          </thead>
          <tbody id="tbody">

          </tbody>
        </table>
      </div>
      <!-- !Performance Evaluation -->

    </div>
  </div>

  </div>

  <script src="./../scripts/jquery-3.3.1.slim.min.js"></script>
  <script src="../scripts/clases.js"></script>
  <script src="../scripts/decisionTreeCont.js"></script>
  <script src="../scripts/main.js"></script>
  <script type="text/javascript" src="../scripts/DataTables/datatables.min.js"></script>
  <script src="../scripts/datatables-config.js"></script>
  <script type="text/javascript">
    /* InitDataTable("#tabla"); */
  </script>
</body>


</html>